body {
background-image: url('https://osu.ppy.sh/assets/images/default-bg.7594e945.png');
}
.content {
text-align: center;
display: table;
margin: auto;
width: 50%;
color: #cfd8dc;
/*background: #343a40;*/
background-image: url('https://osu.ppy.sh/assets/images/default-bg.7594e945.png');
font-family: Roboto, sans-serif;
border: 6px #EEE;
}
.footer {
font-family: Source Code Pro, monospace;
margin-top: 30px;
bottom: 0;
background-color: #21263e;
padding-left: 25%;
width: 75%;
color: #ffeb3b;
}
a {
color: #03a9f4;
text-decoration: none; 
}
.topPanel {
font-family: 'Comfortaa', cursive;
display: flex;
height: 58px !important;
position: relative;
padding: .5rem 1rem;
color: #EEE;
background: #000051; /*#212529, #000063*/ 
height: 72%;
text-align: left;
}
.logo {
width: 4%;
}
.card1 { 
color: #FFF;
height: 170px;
width: 90%;
background-image: url('https://assets.ppy.sh/beatmaps/1192577/covers/cover.jpg?1609232671');
background-repeat: no-repeat;
background-position: left;
}
.card-name {
color: #FFF;
/*background: #1c313a;*/
font-family: Comfortaa, cursive;
font-size: medium;
}
.card-author {
font-family: Comfortaa, cursive;
font-size: small;
color: #FFF;
}
.search {
font-size: 15px;
padding: 0;
padding-inline-end: 48px;
padding-inline-start: 46px;
width: 100%;
}
input {
width: 100%;
}